*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$color-pr: rgb(252, 252, 252); 
body
{
   font-family: "Poppins" , sans-serif; 
   color: blueviolet;
   width: 100%;
   overflow-x: hidden;

}
@mixin flexbox ($dir, $jc-c, $al-c){
    display: flex;
    flex-direction: $dir;
    justify-content: $jc-c;
    align-items: $al-c;
}
div.circle-theory{
  //  width: 100%;
    //overflow-x:hidden;
.circle-1{
    height: 100%;
    width: 200%;
    //overflow-x: hidden;
    color: blueviolet;
   background-color: rgba(168, 62, 182, 0.3);
   border-radius: 50%;
   position: absolute;
   left: 30%;
   top: 0%;
  // transform: translate(-50%);
   z-index: -5; 
}
.circle-2{
    @extend .circle-1;
    height: 100%;
    width: 200%;
    left: -120%;
    top: 110%;
    background-color: rgba(102, 102, 255, 0.2);
}
.circle-3{
    @extend .circle-1;
    height: 100%;
    width: 200%;
    left: 30%;
    top: 220%;
    background-color: rgba(168, 62, 182, 0.3);
}
}