.burger-close{
    opacity: 0;
    pointer-events: none;
}

.nav-toggled{
    display: flex;
    opacity: 1;
    transform: scale(1);
    pointer-events: all;
    position: fixed;
    z-index: 100;
    width: 90%;
    height: 80%;
    left: 10%;
}


