* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins" , sans-serif;
  color: blueviolet;
  min-width: 100%;
  overflow-x: hidden;
}

div.circle-theory .circle-1, div.circle-theory .circle-2, div.circle-theory .circle-3 {
  height: 100%;
  width: 200%;
  color: blueviolet;
  background-color: rgba(168, 62, 182, 0.3);
  border-radius: 50%;
  position: absolute;
  left: 30%;
  top: 0%;
  z-index: -5;
}

div.circle-theory .circle-2 {
  height: 100%;
  width: 200%;
  left: -120%;
  top: 110%;
  background-color: rgba(102, 102, 255, 0.2);
}

div.circle-theory .circle-3 {
  height: 100%;
  width: 200%;
  left: 30%;
  top: 220%;
  background-color: rgba(168, 62, 182, 0.3);
}

.burger-close {
  opacity: 0;
  pointer-events: none;
}

.nav-toggled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  pointer-events: all;
  position: fixed;
  z-index: 100;
  width: 90%;
  height: 80%;
  left: 10%;
}

nav ul li.active {
  border: 1px solid blue !important;
  background: blue;
}

@media only screen and (max-width: 390px) {
  header {
    width: 100%;
  }
  header .Name {
    font-size: 1.3rem !important;
  }
  header div.burger {
    margin-right: .5rem;
  }
  nav {
    padding-top: 3rem;
  }
  section.d-catch span.catchy-text {
    font-size: 1.2rem !important;
    top: 5%;
  }
  section.section-1 .Vision-Mission, section.section-3 .Vision-Mission {
    width: 90% !important;
  }
  div.circle-theory .circle-1, div.circle-theory .circle-2, div.circle-theory .circle-3 {
    height: 140%;
    width: 240%;
  }
  div.circle-theory .circle-2 {
    height: 140%;
    width: 240%;
    top: 130%;
    left: -170%;
  }
  div.circle-theory .circle-3 {
    height: 130%;
    width: 230%;
    top: 250%;
  }
}

@media only screen and (max-width: 350px) {
  header {
    height: 20vh !important;
  }
  nav {
    height: 80vh !important;
    font-size: 1.2rem !important;
  }
  section.d-catch span.catchy-text {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  header .Name {
    font-size: 2.5rem !important;
    letter-spacing: .01rem;
  }
  nav {
    font-size: 2rem !important;
  }
  section.d-catch span.catchy-text {
    font-size: 2rem !important;
    top: 15%;
  }
  section.d-catch div.care {
    font-size: 3rem !important;
    top: 50% !important;
  }
  section.d-catch button {
    width: 14rem !important;
    height: 6rem !important;
  }
  section.d-catch button svg {
    font-size: 2rem !important;
  }
  section.d-catch button .partner-text {
    font-size: 2.5rem !important;
  }
  .Vision-Mission, .section-2, .historyPane {
    width: 80% !important;
    font-size: 1.5rem;
    line-height: 1.5;
  }
  .Vision-Mission h4, .section-2 h4, .historyPane h4 {
    font-size: 2rem !important;
    padding: 1.2rem;
    border-bottom: 2px solid blueviolet;
  }
  .Vision-Mission div, .section-2 div, .historyPane div {
    padding: 1rem !important;
  }
  section.section-2 svg {
    width: 450px !important;
  }
  section.section-2 .month {
    font-size: 3.5rem !important;
    top: -450px !important;
    left: -55px !important;
  }
  section.section-2 .time {
    top: -310px !important;
    left: -85px !important;
    font-size: 1.7rem !important;
  }
  section.section-2 .day {
    top: -230px !important;
    left: -25px !important;
    font-size: 2rem !important;
  }
  section.section-2 .date {
    position: absolute;
    top: -170px !important;
    left: -23px !important;
    font-size: 3.5rem !important;
  }
  section.section-4 {
    width: 80% !important;
  }
  section.section-4 h4 {
    font-size: 2rem !important;
    border-bottom: 2px solid blueviolet;
  }
  section.section-4 .testimony-head {
    height: 50% !important;
  }
  section.section-4 .testimony-head img {
    height: 200px !important;
    width: 200px !important;
  }
  section.section-4 .testimony-head span {
    font-size: 2rem !important;
    top: 40% !important;
    left: 50% !important;
    -webkit-transform: translate(-40% -40%) !important;
            transform: translate(-40% -40%) !important;
  }
  section.section-4 div.testimony-text {
    font-size: 1.5rem !important;
    padding: 1rem;
  }
  footer address {
    margin: 2.5rem 3rem !important;
  }
  footer address .contact-info {
    margin-top: 2rem;
    font-weight: lighter;
  }
  footer address .contact-info .h4 {
    font-size: 1.8rem !important;
    line-height: 2;
    letter-spacing: .3rem;
  }
  footer address .contact-info div {
    font-size: 1.3rem !important;
    letter-spacing: .3rem;
    margin-top: 1.2rem;
  }
  footer address .location {
    margin-top: 2rem;
    font-weight: lighter;
  }
  footer address .location .h4 {
    font-size: 1.8rem !important;
    line-height: 1.5;
    letter-spacing: .1rem;
  }
  footer address .location div {
    font-size: 1.3rem !important;
    letter-spacing: .1rem;
    margin-top: .5rem;
  }
  footer .short-message {
    margin: 2.5rem 3rem 1rem !important;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .short-message input {
    height: 4rem !important;
    width: 80% !important;
    padding: 1rem !important;
    font-size: 2rem !important;
  }
  footer .social-icons {
    font-size: 2.5rem !important;
    margin-top: 3rem !important;
  }
  footer .copyright {
    font-size: 1.5rem !important;
  }
  div.circle-theory .circle-1, div.circle-theory .circle-2, div.circle-theory .circle-3 {
    height: 120%;
    width: 200%;
  }
  div.circle-theory .circle-2 {
    height: 120%;
    width: 200%;
    top: 100%;
    left: -150%;
  }
  div.circle-theory .circle-3 {
    height: 120%;
    width: 200%;
    top: 200%;
    left: 50%;
  }
  .nav-toggled {
    width: 80%;
    height: 80%;
    left: 25%;
  }
}

@media only screen and (min-width: 768px) {
  div.testimony-head span.testifiers-name {
    font-size: 2.2rem !important;
    left: 40% !important;
    top: 40%;
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
}

@media only screen and (min-width: 992px) {
  header {
    display: block !important;
    height: 80px !important;
  }
  header .Name {
    width: 60% !important;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header div.burger {
    display: none;
  }
  nav {
    display: block !important;
    width: 40% !important;
    height: 10vh !important;
    font-size: small !important;
    position: absolute;
    left: 58%;
    top: -1rem;
    background: none !important;
    pointer-events: all !important;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

header {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #cc33ff;
}

header .Name {
  color: #fcfcfc;
  line-height: 1.5;
  font-size: 1.5rem;
  width: 80%;
  padding: 1rem;
  letter-spacing: 0.05rem;
  font-weight: lighter;
}

header div.burger {
  color: white;
  cursor: pointer;
  position: relative;
  margin-right: 1rem;
}

header div.burger .burger-open,
header div.burger .burger-close {
  position: absolute;
  height: 1.3rem;
  width: 1.3rem;
  top: -12px;
  right: 1px;
  color: white;
  pointer-events: all;
}

header div.burger .burger-open :hover,
header div.burger .burger-close :hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#6666ff), to(#cc33ff));
  background: linear-gradient(to bottom, #6666ff 0%, #cc33ff 100%);
  font-size: 1.5rem;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  pointer-events: none;
  display: none;
  padding-top: 3rem;
}

nav ul li {
  list-style: none;
  padding-bottom: 50%;
}

nav ul li a {
  text-decoration: none;
  color: #fefeff;
}

nav ul li a :hover {
  border-bottom: 2px solid white;
}

section.d-catch {
  width: 100%;
  margin-top: 10vh;
  height: 70vh;
  position: relative;
}

section.d-catch .landingSection {
  position: relative;
  width: 100%;
  height: 80vh;
}

section.d-catch .landingSection img {
  width: 100%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  opacity: 0.8;
}

section.d-catch .landingSection img:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

section.d-catch .landingSection .backgroundCover {
  width: 100%;
  height: 80%;
  background-color: #302c35;
  position: absolute;
  opacity: 0.9;
}

section.d-catch .text-upon {
  z-index: 100;
  opacity: 1;
  height: 80%;
  width: 100%;
  left: 50%;
}

section.d-catch .text-upon .catchy-text {
  position: absolute;
  left: 50%;
  top: 10%;
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
  color: white;
  font-size: 1.5rem;
}

section.d-catch .text-upon div.care {
  position: absolute;
  left: 50%;
  top: 60%;
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
  color: white;
  line-height: 3rem;
  font-size: 2rem;
  width: 100%;
  text-align: center;
}

section.d-catch .text-upon button {
  position: absolute;
  left: 50%;
  top: 70%;
  width: 9rem;
  height: 4rem;
  border-radius: 15px;
  background-color: #6666ff;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  line-height: 1.2;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section.d-catch .text-upon button:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

section.d-catch .text-upon button svg {
  font-size: 1.5rem;
}

section.d-catch .text-upon button .partner-text {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}

section.section-1, section.section-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

section.section-1 .Vision-Mission, section.section-3 .Vision-Mission {
  border: 3px solid #ad72e4;
  border-radius: 10px;
  -webkit-box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.5);
  margin-top: 2rem;
  width: 90%;
}

section.section-1 .Vision-Mission h4, section.section-3 .Vision-Mission h4 {
  text-align: center;
  border-bottom: 1px solid blueviolet;
  line-height: 2rem;
  font-size: larger;
}

section.section-1 div, section.section-3 div {
  padding: 5px 1rem;
}

section.section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #ad72e4;
  border-radius: 10px;
  width: 90%;
  margin: 6rem auto 0 auto;
  -webkit-box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
}

section.section-2 h4 {
  text-align: center;
  line-height: 2rem;
  font-size: larger;
  border-bottom: 1px solid blueviolet;
  width: 100%;
}

section.section-2 svg.Calender {
  width: 250px;
  padding-top: 2rem;
}

section.section-2 .eventContent {
  position: relative;
  color: antiquewhite;
}

section.section-2 .eventContent .month {
  font-size: 2rem;
  position: absolute;
  top: -230px;
  left: -35px;
  color: antiquewhite;
}

section.section-2 .eventContent .time {
  position: absolute;
  top: -160px;
  left: -50px;
  color: antiquewhite;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

section.section-2 .eventContent .day {
  position: absolute;
  top: -110px;
  left: -15px;
  font-size: 1rem;
}

section.section-2 .eventContent .date {
  position: absolute;
  top: -100px;
  left: -25px;
  font-size: 3.5rem;
}

section.section-2 .someContent {
  padding: 1rem;
}

section.section-3 .historyPane {
  border: 3px solid #ad72e4;
  border-radius: 10px;
  -webkit-box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.5);
  margin-top: 6rem;
  width: 90%;
}

section.section-3 .historyPane h4 {
  text-align: center;
  border-bottom: 1px solid blueviolet;
  line-height: 2rem;
  font-size: larger;
}

section.section-4 {
  border: 3px solid #ad72e4;
  border-radius: 10px;
  width: 90%;
  margin: 6rem auto;
  -webkit-box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
}

section.section-4 h4 {
  border-bottom: 1px solid blueviolet;
  text-align: center;
  font-size: larger;
}

section.section-4 div.testimoniesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem auto;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: aliceblue;
}

section.section-4 div.testimoniesContainer .testimony-1 {
  width: 100%;
}

section.section-4 div.testimoniesContainer .testimony-1 .testimony-head {
  height: 30%;
  background: #e9eeee;
  border-radius: 10px;
  position: relative;
}

section.section-4 div.testimoniesContainer .testimony-1 .testimony-head img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

section.section-4 div.testimoniesContainer .testimony-1 .testimony-head span {
  position: absolute;
  top: 30%;
  left: 30%;
  -webkit-transform: translate(-30% -30%);
          transform: translate(-30% -30%);
}

footer {
  background-color: #6666ff;
  color: white;
  width: 100%;
}

footer address {
  margin: 1.5rem 1.8rem;
  text-decoration: none;
}

footer address a {
  text-decoration: none;
  list-style: none;
  color: #fefeff;
}

footer address a:hover {
  border-bottom: 1px solid white;
}

footer address .contact-info .h4 {
  line-height: 1.5;
  letter-spacing: .1rem;
}

footer address .contact-info div {
  font-size: 1.1rem;
  letter-spacing: .1rem;
  margin-top: .5rem;
}

footer address .location {
  margin-top: 1.2rem;
}

footer address .location .h4 {
  line-height: 1.5;
  letter-spacing: .1rem;
}

footer address .location div {
  font-size: 1.1rem;
  letter-spacing: .1rem;
  margin-top: .5rem;
}

footer .short-message {
  margin: 1.5rem 1.8rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .short-message input {
  height: 3rem;
  width: 70%;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 5px;
  font-size: 1.5rem;
}

footer .short-message button {
  outline: none;
  border: none;
  background: none;
  color: #d5d5df;
  font-size: 2rem;
  padding: 0px 6px;
  cursor: pointer;
}

footer .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin: 1.8rem auto 0.5rem auto;
  font-size: 1.5rem;
  cursor: pointer;
}

footer .social-icons svg:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

footer .copyright {
  background-color: white;
  color: blueviolet;
  text-align: center;
}
/*# sourceMappingURL=Landingpage.css.map */